* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}

.titulo-destaque {
    color: blueviolet;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: start;
    gap: 20px;
}